## Week 1 - Assignment 1 Solutions

**Q1. Create one variable containing following type of data:**
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

**Answer** is given below

In [1]:
# Q1 (i)
s = "subhajit sarkar"
print(type(s))

<class 'str'>

In [2]:
# Q1 (ii)
l = [1,2,3,"subhajit","sarkar", True, 4+7j, [4,5,6],(7,8,9)]
print(type(l))

<class 'list'>

In [3]:
# Q1 (iii)
f = 36.75
print(type(f))

<class 'float'>

In [4]:
# Q4 (iii)
t = (1,2,3,4,5)
print(type(t))

<class 'tuple'>

**Q2. Given are some following variables containing data:**
- (i) var1 = ‘ ‘
- (ii) var2 = ‘[ DS , ML , Python]’
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
- (iv) var4 = 1.

What will be the data type of the above given variable.

**Answer** - var1 and var2 will be string; var3 will be list; var4 will be integer.

In [6]:
var1 = ' '
print(type(var1))
var2 = '[ DS , ML , Python]'
print(type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

**Q3. Explain the use of the following operators using an example:**
- (i) /
- (ii) %
- (iii) //
- (iv) **

**Answer**
- (i) / is arithmetic operator for division that divided 1st number by 2nd number.
- (ii) % is the arithmetic operator for modulus that gives the remainder after 1st number is divided by 2nd number without quotient going in decimals. (quotient remaining as whole number)
- (iii) // is the arithmetic operator for floor division that gives the quotient after 1st number is divided by 2nd number without going in decimals. (quotient remaining as whole number)
- (iv) ** is the arithmetic operator for power where 1st number has the power 2nd number.

Examples are given below

In [16]:
#(i) 6 divided by 2 is 3
print(6/2)

#(ii) 5 divided by 2 with quotient reamining whole number gives 1 as remainder/modulus
print(5%2)

#(iii)9 divided by 2 with quotient reamining whole number gives 4 as quotient
print(9//2)

#(iv) 2 to the power 3 gives 8
print(2**3)

3.0
1
4
8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.**

**Answer** is given below

In [18]:
# Consider the list having multiple data types, 
l = [1, 2, 3, 4.5, "subhajit", "sarkar", True, 6+7j, [4,5,6], (7,8,9)]

#Checking the lenght of the list
len(l)

10

In [19]:
# To find the data types of each item in list using for loop, we perform the following

for i in l :
    print(i,' is of data type ', type(i) )

1  is of data type  <class 'int'>
2  is of data type  <class 'int'>
3  is of data type  <class 'int'>
4.5  is of data type  <class 'float'>
subhajit  is of data type  <class 'str'>
sarkar  is of data type  <class 'str'>
True  is of data type  <class 'bool'>
(6+7j)  is of data type  <class 'complex'>
[4, 5, 6]  is of data type  <class 'list'>
(7, 8, 9)  is of data type  <class 'tuple'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

**Answer** - 
Here, purely divisible means there will be no reaminder. Hence a%b == 0

No of times it can be divided means the quotient a//b

In [4]:
a = int(input('Enter value of A to be divided '))
b = int(input('Enter value of B to be divided by '))

while a % b == 0:
    print(a, "is purely divisible by", b, "and is divisible", a//b, "times")
    break
else :
    print(a, "cannot be purely divided by", b)

Enter value of A to be divided 8
Enter value of B to be divided by 2
8 is purely divisible by 2 and is divisible 4 times

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.**

**Answer**

In [7]:
l = [12,50,35,76,64,8,22,54,19,94,89,3,59,47,38,100,55,6,40,15,81,53,5,13,99]

for i in l:
    if i % 3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i, "is not divisible by 3")

12 is divisible by 3
50 is not divisible by 3
35 is not divisible by 3
76 is not divisible by 3
64 is not divisible by 3
8 is not divisible by 3
22 is not divisible by 3
54 is divisible by 3
19 is not divisible by 3
94 is not divisible by 3
89 is not divisible by 3
3 is divisible by 3
59 is not divisible by 3
47 is not divisible by 3
38 is not divisible by 3
100 is not divisible by 3
55 is not divisible by 3
6 is divisible by 3
40 is not divisible by 3
15 is divisible by 3
81 is divisible by 3
53 is not divisible by 3
5 is not divisible by 3
13 is not divisible by 3
99 is divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

**Answer** - 

**Mutable Data type** are the data types that allows to change/replace a particular item at partical index. Mutable data types are:
 - 1. List
 - 2. Dictionary
 - 3. Sets

**Immutable Data types** are the data types that does not allow to change/replace a particular item at partical index. Immutable data types are:
 - 1. Numbers - Integer, Float, Complex
 - 2. Strings
 - 3. Tuples
 
We can demonstrate this property by using a string (immutable data type) and a list (mutable data type)

In [8]:
# Consider a list 
l = [1,2,3,"subhajit","sarkar", True, 4+7j, [4,5,6],(7,8,9)]

In [11]:
#If we want to change "subhajit" as "subh", we perform
l[3] = 'subh'

# Upon rechecking the list, we can see the change has taken place. 
print(l)

# This is mutability.

[1, 2, 3, 'subh', 'sarkar', True, (4+7j), [4, 5, 6], (7, 8, 9)]

In [12]:
# Next consider a string 
s = "subhajit"

In [14]:
# If we want to replace 'a' with 'o', we perform
s[4] = 'o'

# This gives an error as string is not a mutable data type. This is immutability

TypeError: 'str' object does not support item assignment