# Week 6 - Assignment1 (MySQL Assignment) Solutions


## Q1. What is a database? Differentiate between SQL and NoSQL databases.


**Answer -**
A **database** is grouping of relatable data items in a structured way like addressbook in phones. A database is an organized collection of structured or unstructured data that can be accessed, managed, and updated in a systematic way. It allows for efficient storage, retrieval, and manipulation of large amounts of data. A database system typically consists of software that manages the data, a database server that stores the data, and one or more applications that access the data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that use different methods for storing and retrieving data. Here are some key differences between the two:

|Feature|SQL databases|NoSQL databases|
|-|-|-|
|Data model|Relational data model|Flexible data model|
|Query language|SQL|Database-specific query language|
|Scalability|Vertically scalable|Horizontally scalable|
|Consistency|Strong consistency|May offer weaker consistency models|
|Usage|Complex queries and transactions|Fast and flexible data processing|
|Examples|MySQL, Oracle, PostgreSQL, DB2, Microsoft SQL Server, SQLite|MongoDB, Cassandra, HBase, Neo4j, Influx, Amazon DynamoDB|

Different types of SQL databases has their own features and benefits. For example, MySQL is a popular choice for web applications due to its fast performance and scalability, while PostgreSQL is often used for data warehousing and business intelligence applications due to its advanced query optimization capabilities. Similarly, different types of NoSQL databases has their own strengths and weaknesses. For example, document-oriented databases like MongoDB are great for storing unstructured data such as JSON documents, while graph databases like Neo4j are ideal for modeling complex relationships between data points.

In summary, SQL databases are highly structured, provide high data integrity and consistency, and use SQL as a query language. NoSQL databases are highly scalable, provide greater flexibility and agility, and use non-structured or semi-structured data models.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


**Answer -**
**DDL** stands for **Data Definition Language**. DDL Commands are used for defining the structures of the various objects in the database. DDL commands can be broken down into the following commands :

|**Commands**|**Usage**|
|-|-|
**CREATE**|Creates a table/object for relation|
**ALTER**|Used for modifying an object|
**DROP**|Used for dropping an object|
**TURNICATE**|Used for turnicating tables deleting all the results but not table|

Examples are given below. To execute SQL queries in python, we need to import the module mysql.connector. Next we need to establish a connection under connection variable **mydb**. We try to establish it in local system with user id as "root" and passowrd "mysql". Next we have to create a cursor variable **mycursor** that acts like a reference pointer.

In [ ]:
# Importing Library
import mysql.connector

In [ ]:
#Establishing connection (host - localhost user_id - root, password - mysql)
mydb = mysql.connector.connect(host = "localhost", user ="root", password = "mysql")

In [ ]:
# to check the connection
print(mydb)

In [ ]:
# Creating a cursor variable
mycursor = mydb.cursor()

#### CREATE command example: 
We first create a database and a table.

In [ ]:
# creating a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS test1");
# creating a table
mycursor.execute("CREATE TABLE if not exists test1.test (c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 VARCHAR(50))")

In [ ]:
# checking database
mycursor.execute("SHOW databases")
mycursor.fetchall()

In [ ]:
# checking tables
mycursor.execute("use test1") #selecting database test1
mycursor.execute("SHOW tables")
mycursor.fetchall()

#### ALTER command example: 
We modify and insert another column c6 INT in test table using alter.

In [ ]:
# Inserting a column in table
mycursor.execute("ALTER TABLE test1.test ADD COLUMN c6 INT")
mydb.commit()
# checking
mycursor.execute("SELECT * FROM test")
mycursor.fetchall()

In [ ]:
mycursor.execute('select * from test1.test')
for i in mycursor.fetchall():
    print(i)

#### TRUNCATE command example: 
Lets say table test has data. If we want to delete all the records but not the table itself, we use TRUNCATE.

In [ ]:
# Turnicating table test
mycursor.execute("TRUNCATE TABLE test1.test")
mydb.commit()

#### DROP command example: 
Lets say we want to drop the table itself, we use drop

In [ ]:
mycursor.execute("Drop table test1.test")
mydb.commit()

In [ ]:
# checking tables
mycursor.execute("use test1") #selecting database test1
mycursor.execute("SHOW tables")
mycursor.fetchall()
mydb.close()

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


**Answer -**
**DML** stands for **Data Manipulation Language**. DML Commands are used for maipulating the data or modifying the data which is already present in a table inside a database. Whenever we execute DML commands, they will initialte a transction/session. Using these transactions, we can modify the database. DML commands can be broken down into the following commands :

|**Commands**|**Usage**|
|-|-|
**INSERT**|used for inserting one or multiple records in a table|
**UPDATE**|Used for updating one or multiple records in a table|
**DELETE**|Used for deleting one or multiple records in a table|

Examples are given below. To execute SQL queries in python, we need to import the module mysql.connector. Next we need to establish a connection under connection variable **mydb**. We try to establish it in local system with user id as "root" and passowrd "mysql". Next we have to create a cursor variable **mycursor** that acts like a reference pointer. For explaining DML queries, we create a database, a table and to insert records in it.

In [1]:
# Importing Library
import mysql.connector

In [2]:
#Establishing connection (host - localhost user_id - root, password - mysql)
mydb = mysql.connector.connect(host = "localhost", user ="root", password = "mysql")

In [3]:
# to check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023D45BF3490>

In [4]:
# Creating a cursor variable
mycursor = mydb.cursor()

In [5]:
# creating a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS test1");
# creating a table
mycursor.execute("CREATE TABLE if not exists test1.test (ID_No INT, Name VARCHAR(50), email_id VARCHAR(50))")

In [6]:
# checking database
mycursor.execute("SHOW databases")
mycursor.fetchall()

[('bank_marketing',),
 ('dress_data',),
 ('information_schema',),
 ('institute',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sales',),
 ('sys',),
 ('test1',),
 ('world',)]

In [7]:
# checking tables
mycursor.execute("use test1") #selecting database test1
mycursor.execute("SHOW tables")
mycursor.fetchall()

[('test',)]

In [9]:
# checking structure of test table
mycursor.execute("SELECT * FROM test1.test")
for i in mycursor.fetchall():
    print(i)

#### INSERT command example: 
To insert a record in table, we use INSERT.

In [10]:
# inserting record into test table
mycursor.execute("INSERT INTO test1.test VALUES(1234, 'Subhajit', 'subhajit@gmail.com')")
mydb.commit()

In [11]:
#checking the table
mycursor.execute("SELECT * FROM test1.test")
for i in mycursor.fetchall():
    print(i)

(1234, 'Subhajit', 'subhajit@gmail.com')

#### UPDATE command example: 
Lets say we want to update email id from 'subhajit@mail.com' to 'subhajit24x7@gmail.com'

In [14]:
# updating record
mycursor.execute("UPDATE test1.test SET email_id = 'subhajit24x7@gmail.com' WHERE Name = 'Subhajit' ")
mydb.commit()

In [15]:
# checking the table
mycursor.execute("SELECT * FROM test1.test")
for i in mycursor.fetchall():
    print(i)

(1234, 'Subhajit', 'subhajit24x7@gmail.com')

#### DELETE command example: 
Lets say we want to delete the record

In [16]:
# deleting record
mycursor.execute("DELETE FROM test1.test WHERE Name = 'Subhajit' ")
mydb.commit()

In [17]:
# checking the table
mycursor.execute("SELECT * FROM test1.test")
for i in mycursor.fetchall():
    print(i)

## Q4. What is DQL? Explain SELECT with an example.


**Answer -**

**DQL** stands for **Data Query Language**. DML Commands are used to retrieve data from a database table. DQL commands are used to query the data stored in a table.

The most commonly used DQL command is SELECT. The SELECT command is used to retrieve data from one or more tables. Here's an example of how to use the SELECT command:

To execute SQL queries in python, we need to import the module mysql.connector. Next we need to establish a connection under connection variable **mydb**. We try to establish it in local system with user id as "root" and passowrd "mysql". Next we have to create a cursor variable **mycursor** that acts like a reference pointer. For explaining DML queries, we create a database, a table and to insert records in it.

In [18]:
# Importing Library
import mysql.connector

In [19]:
#Establishing connection (host - localhost user_id - root, password - mysql)
mydb = mysql.connector.connect(host = "localhost", user ="root", password = "mysql")

In [20]:
# to check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023D45BF33A0>

In [21]:
# Creating a cursor variable
mycursor = mydb.cursor()

In [22]:
# creating a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS test1");
# creating a table
mycursor.execute("CREATE TABLE if not exists test1.test (ID_No INT, Name VARCHAR(50), email_id VARCHAR(50))")

In [23]:
# inserting record into test table
mycursor.execute("INSERT INTO test1.test VALUES(1234, 'Subhajit', 'subhajit@gmail.com')")
mydb.commit()

#### SELECT command example: 
Lets say we want to select Name from table test

In [24]:
#checking the table
mycursor.execute("SELECT Name FROM test1.test")
for i in mycursor.fetchall():
    print(i)

('Subhajit',)

## Q5. Explain Primary Key and Foreign Key.


**Answer -**

#### Primary Key
A **primary key** is a unique identifier for each row in a table. It is a column or combination of columns that uniquely identifies each record in a table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null thereby enforcing data integrity. 


#### Foreign Key
A **foreign key** is a column or a set of columns in a table that refers to the primary key of another table. The foreign key is used to establish a relationship between two tables, where the values in the foreign key column(s) of one table match the values in the primary key column(s) of another table.

A foreign key is a column or combination of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables, where the values in the foreign key column(s) of one table match the values in the primary key column(s) of another table. 

We can explain the concept of Primary Key and Foreign Key better using the following example. We create a connection & cursor. We then create a database **company** that has two tables **users** and **orders**. In the **users** table, the "id" column can be the primary key if each user has a unique ID number. In the **orders** table, the "user_id" column can be a foreign key that refers to the "id" column of the "users" table, indicating which user placed each order.

In [25]:
# Importing Library
import mysql.connector

In [26]:
#Establishing connection (host - localhost user_id - root, password - mysql)
mydb = mysql.connector.connect(host = "localhost", user ="root", password = "mysql")

In [27]:
# Creating a cursor variable
mycursor = mydb.cursor()

In [28]:
# creating a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS company");

In [34]:
# creating table users
mycursor.execute("CREATE TABLE IF NOT EXISTS company.users(customer_id INT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(100))")

In [35]:
#checking the table
mycursor.execute("SELECT * FROM company.users")
for i in mycursor.fetchall():
    print(i)

In [36]:
# creating table orders
mycursor.execute("CREATE TABLE company.orders(order_id INT PRIMARY KEY, order_date DATE, customer_id INT, total_amount DECIMAL(10,2), FOREIGN KEY (customer_id) REFERENCES users(customer_id))")

In [37]:
#checking the table
mycursor.execute("SELECT * FROM company.orders")
for i in mycursor.fetchall():
    print(i)

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


**Answer -**
To execute SQL queries in python, we need to install and import the module `mysql.connector`. Next we need to establish a connection under connection variable **mydb**. We try to establish it in local system with user id as "root" and passowrd "mysql". Next we have to create a cursor variable **mycursor** that acts like a reference pointer. 

The **cursor()** is a mysql.connector class method in Python is used to create a cursor object, which allows us to execute SQL commands on the database. The cursor object provides methods to execute SQL commands, fetch data from the database, and handle transactions.

The **execute()** method is used to execute SQL commands on the database using the cursor object. It takes an SQL query as its argument and returns the result of the query. For example, to execute a SELECT query on a MySQL database using the cursor object,

In [38]:
# Importing Library
import mysql.connector

In [39]:
#Establishing connection (host - localhost user_id - root, password - mysql)
mydb = mysql.connector.connect(host = "localhost", user ="root", password = "mysql")

In [40]:
# to check the connection
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023D45CF9520>

In [41]:
# Creating a cursor variable
mycursor = mydb.cursor()

In [42]:
# creating a database
mycursor.execute("CREATE DATABASE IF NOT EXISTS test1");
# creating a table
mycursor.execute("CREATE TABLE if not exists test1.test (ID_No INT, Name VARCHAR(50), email_id VARCHAR(50))")

In [43]:
# checking database
mycursor.execute("SHOW databases")
mycursor.fetchall()

[('bank_marketing',),
 ('company',),
 ('dress_data',),
 ('information_schema',),
 ('institute',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sales',),
 ('sys',),
 ('test1',),
 ('world',)]

In [44]:
# checking tables
mycursor.execute("use test1") #selecting database test1
mycursor.execute("SHOW tables")
mycursor.fetchall()

[('test',)]

In [45]:
# checking structure of test table
mycursor.execute("SELECT * FROM test1.test")
for i in mycursor.fetchall():
    print(i)

(1234, 'Subhajit', 'subhajit@gmail.com')

## Q7. Give the order of execution of SQL clauses in an SQL query.


**Answer -**
The clauses in a SQL Query are executed in the following order:

* 1. **FROM clause**: Specifies the table or tables from which to retrieve data.

* 2. **JOIN clause**: Specifies how to join multiple tables together, if needed.

* 3. **WHERE clause**: Specifies which rows to retrieve based on a set of conditions.

* 4. **GROUP BY clause**: Specifies how to group rows based on one or more columns.

* 5. **HAVING clause**: Specifies which groups to retrieve based on a set of conditions.

* 6. **SELECT clause**: Specifies which columns to retrieve.

* 7. **DISTINCT clause**: Specifies to retrieve only distinct values of the specified columns.

* 8. **ORDER BY clause**: Specifies how to sort the retrieved rows based on one or more columns.

* 9. **LIMIT clause**: Specifies the maximum number of rows to retrieve.